@model site.Models.Article

<h2>Создать статью</h2>

<form method="post">
    <div>
        <label>Title</label>
        <input type="text" name="Title" />
    </div>

    <div>
        <label>Content</label>
        <input type="text" name="Content" />
    </div>

    <button type="submit">Сохранить</button>
</form>